<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jtgl.im.mapper.ImGroupToUserMapper">

	<resultMap id="BaseResultMap" type="com.jtgl.im.model.ImGroupToUser">
			<id column="id" jdbcType="BIGINT" property="id" />
            <result column="user_id" jdbcType="INTEGER" property="userId" />
            <result column="group_id" jdbcType="INTEGER" property="groupId" />
            <result column="group_nick" jdbcType="VARCHAR" property="groupNick" />
            <result column="remark" jdbcType="VARCHAR" property="remark" />
            <result column="status" jdbcType="INTEGER" property="status" />
            <result column="deleted" jdbcType="INTEGER" property="deleted" />
            <result column="create_by" jdbcType="BIGINT" property="createBy" />
            <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
            <result column="update_by" jdbcType="BIGINT" property="updateBy" />
            <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  	</resultMap>
  
  	<sql id="Base_Column_List">			
		id,
		user_id,
		group_id,
		group_nick,
		remark,
		status,
		deleted,
		create_by,
		create_date,
		update_by,
		update_date
  	</sql>
  	
  	<sql id="Base_Column_List_Alias">			
		imGroupToUser.id,
		imGroupToUser.user_id,
		imGroupToUser.group_id,
		imGroupToUser.group_nick,
		imGroupToUser.remark,
		imGroupToUser.status,
		imGroupToUser.deleted,
		imGroupToUser.create_by,
		imGroupToUser.create_date,
		imGroupToUser.update_by,
		imGroupToUser.update_date
  	</sql>
  
 	 <!-- 根据主键查询记录 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    	select <include refid="Base_Column_List" /> from im_t_group_to_user
    	where id = #{id, jdbcType=INTEGER}
  	</select>
  	
  	<!-- 
  		根据条件查询记录
  		TODO 此处条件将所有属性都作为条件进行了添加，需根据实际情况进行调整	
  	-->
  	<select id="selectByProperties" parameterType="com.jtgl.im.model.ImGroupToUser" resultMap="BaseResultMap">
   		select <include refid="Base_Column_List_Alias" />	from im_t_group_to_user imGroupToUser
    	where 1=1 and imGroupToUser.deleted = 0
	<if test="id != null">
		AND imGroupToUser.id = #{id}
	</if>
	<if test="userId != null">
		AND imGroupToUser.user_id = #{userId}
	</if>
	<if test="groupId != null">
		AND imGroupToUser.group_id = #{groupId}
	</if>
	<if test="groupNick != null">
		AND imGroupToUser.group_nick like CONCAT('%',#{groupNick},'%')
	</if>
	<if test="remark != null">
		AND imGroupToUser.remark like CONCAT('%',#{remark},'%')
	</if>
	<if test="status != null">
		AND imGroupToUser.status = #{status}
	</if>
	<if test="deleted != null">
		AND imGroupToUser.deleted = #{deleted}
	</if>
	<if test="createBy != null">
		AND imGroupToUser.create_by = #{createBy}
	</if>
	<if test="createDate != null">
		AND imGroupToUser.create_date = #{createDate}
	</if>
	<if test="updateBy != null">
		AND imGroupToUser.update_by = #{updateBy}
	</if>
	<if test="updateDate != null">
		AND imGroupToUser.update_date = #{updateDate}
	</if>
  	</select>
  
  	<!-- 
  		检查数据唯一性
  		TODO 此处条件固定写为根据name判断，需根据实际情况进行调整
  	-->
  	<select id="selectByUnique" parameterType="com.jtgl.im.model.ImGroupToUser" resultMap="BaseResultMap">
    	select <include refid="Base_Column_List" />
    		from im_t_group_to_user imGroupToUser
    	where 1=1 and deleted = 0
    	<if test="name != null">
        AND name = #{name}
    	</if>
  	</select>
  	
  	<!-- 删除数据，物理删除和逻辑删除  -->
  	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
	    delete from im_t_group_to_user where id = #{id, jdbcType=INTEGER}
  	</delete>
  	<update id="logicalDeleteByPrimaryKey" parameterType="java.lang.Integer">
	    update im_t_group_to_user set deleted = 1 where id = #{id, jdbcType=INTEGER}
  	</update>
  
  	<!-- 保存数据  -->
  	<insert id="insert" parameterType="com.jtgl.im.model.ImGroupToUser">
  		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		SELECT LAST_INSERT_ID()
    	</selectKey>
    	insert into im_t_group_to_user (
				id,
				user_id,
				group_id,
				group_nick,
				remark,
				status,
				deleted,
				create_by,
				create_date,
				update_by,
				update_date
		)
		values (
			#{id, jdbcType=BIGINT},
			#{userId, jdbcType=INTEGER},
			#{groupId, jdbcType=INTEGER},
			#{groupNick, jdbcType=VARCHAR},
			#{remark, jdbcType=VARCHAR},
			#{status, jdbcType=INTEGER},
			#{deleted, jdbcType=INTEGER},
			#{createBy, jdbcType=BIGINT},
			#{createDate, jdbcType=TIMESTAMP},
			#{updateBy, jdbcType=BIGINT},
			#{updateDate, jdbcType=TIMESTAMP}
		)
  	</insert>
  	
  	<insert id="insertSelective" parameterType="com.jtgl.im.model.ImGroupToUser">
  		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		SELECT LAST_INSERT_ID()
    	</selectKey>
    	insert into im_t_group_to_user
    	<trim prefix="(" suffix=")" suffixOverrides=",">
					<if test="id != null">id, </if>
					<if test="userId != null">user_id, </if>
					<if test="groupId != null">group_id, </if>
					<if test="groupNick != null">group_nick, </if>
					<if test="remark != null">remark, </if>
					<if test="status != null">status, </if>
					<if test="deleted != null">deleted, </if>
					<if test="createBy != null">create_by, </if>
					<if test="createDate != null">create_date, </if>
					<if test="updateBy != null">update_by, </if>
					<if test="updateDate != null">update_date, </if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides=",">
					<if test="id != null">#{id, jdbcType=BIGINT}, </if>
					<if test="userId != null">#{userId, jdbcType=INTEGER}, </if>
					<if test="groupId != null">#{groupId, jdbcType=INTEGER}, </if>
					<if test="groupNick != null">#{groupNick, jdbcType=VARCHAR}, </if>
					<if test="remark != null">#{remark, jdbcType=VARCHAR}, </if>
					<if test="status != null">#{status, jdbcType=INTEGER}, </if>
					<if test="deleted != null">#{deleted, jdbcType=INTEGER}, </if>
					<if test="createBy != null">#{createBy, jdbcType=BIGINT}, </if>
					<if test="createDate != null">#{createDate, jdbcType=TIMESTAMP}, </if>
					<if test="updateBy != null">#{updateBy, jdbcType=BIGINT}, </if>
					<if test="updateDate != null">#{updateDate, jdbcType=TIMESTAMP}, </if>
    	</trim>
  	</insert>
  	
  	<!-- 更新数据  -->
  	<update id="updateByPrimaryKeySelective" parameterType="com.jtgl.im.model.ImGroupToUser">
    	update im_t_group_to_user
		<set>
        	<if test="userId != null">user_id = #{userId, jdbcType=INTEGER}, </if>
        	<if test="groupId != null">group_id = #{groupId, jdbcType=INTEGER}, </if>
        	<if test="groupNick != null">group_nick = #{groupNick, jdbcType=VARCHAR}, </if>
        	<if test="remark != null">remark = #{remark, jdbcType=VARCHAR}, </if>
        	<if test="status != null">status = #{status, jdbcType=INTEGER}, </if>
        	<if test="deleted != null">deleted = #{deleted, jdbcType=INTEGER}, </if>
        	<if test="createBy != null">create_by = #{createBy, jdbcType=BIGINT}, </if>
        	<if test="createDate != null">create_date = #{createDate, jdbcType=TIMESTAMP}, </if>
        	<if test="updateBy != null">update_by = #{updateBy, jdbcType=BIGINT}, </if>
        	<if test="updateDate != null">update_date = #{updateDate, jdbcType=TIMESTAMP}, </if>
	    </set>
    	where id = #{id, jdbcType=INTEGER}
 	</update>
  	<update id="updateByPrimaryKey" parameterType="com.jtgl.im.model.ImGroupToUser">
    	update im_t_group_to_user
    	<set>
    
    user_id = #{userId, jdbcType=INTEGER},
    group_id = #{groupId, jdbcType=INTEGER},
    group_nick = #{groupNick, jdbcType=VARCHAR},
    remark = #{remark, jdbcType=VARCHAR},
    status = #{status, jdbcType=INTEGER},
    deleted = #{deleted, jdbcType=INTEGER},
    create_by = #{createBy, jdbcType=BIGINT},
    create_date = #{createDate, jdbcType=TIMESTAMP},
    update_by = #{updateBy, jdbcType=BIGINT},
    update_date = #{updateDate, jdbcType=TIMESTAMP}
		</set>
    	where id = #{id, jdbcType=INTEGER}
  </update>

</mapper>
