<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jtgl.im.mapper.ImUserGroupsMapper">

	<resultMap id="BaseResultMap" type="com.jtgl.im.model.ImUserGroups">
			<id column="id" jdbcType="BIGINT" property="id" />
            <result column="name" jdbcType="VARCHAR" property="name" />
            <result column="admin_id" jdbcType="INTEGER" property="adminId" />
            <result column="icon" jdbcType="VARCHAR" property="icon" />
            <result column="notice" jdbcType="VARCHAR" property="notice" />
            <result column="intro" jdbcType="VARCHAR" property="intro" />
            <result column="remark" jdbcType="VARCHAR" property="remark" />
            <result column="status" jdbcType="INTEGER" property="status" />
            <result column="deleted" jdbcType="INTEGER" property="deleted" />
            <result column="create_by" jdbcType="BIGINT" property="createBy" />
            <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
            <result column="update_by" jdbcType="BIGINT" property="updateBy" />
            <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  	</resultMap>
  
  	<sql id="Base_Column_List">			
		id,
		name,
		admin_id,
		icon,
		notice,
		intro,
		remark,
		status,
		deleted,
		create_by,
		create_date,
		update_by,
		update_date
  	</sql>
  	
  	<sql id="Base_Column_List_Alias">			
		imUserGroups.id,
		imUserGroups.name,
		imUserGroups.admin_id,
		imUserGroups.icon,
		imUserGroups.notice,
		imUserGroups.intro,
		imUserGroups.remark,
		imUserGroups.status,
		imUserGroups.deleted,
		imUserGroups.create_by,
		imUserGroups.create_date,
		imUserGroups.update_by,
		imUserGroups.update_date
  	</sql>
  
 	 <!-- 根据主键查询记录 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    	select <include refid="Base_Column_List" /> from im_t_user_groups
    	where id = #{id, jdbcType=INTEGER}
  	</select>
  	
  	<!-- 
  		根据条件查询记录
  		TODO 此处条件将所有属性都作为条件进行了添加，需根据实际情况进行调整	
  	-->
  	<select id="selectByProperties" parameterType="com.jtgl.im.model.ImUserGroups" resultMap="BaseResultMap">
   		select <include refid="Base_Column_List_Alias" />	from im_t_user_groups imUserGroups
    	where 1=1 and imUserGroups.deleted = 0
	<if test="id != null">
		AND imUserGroups.id = #{id}
	</if>
	<if test="name != null">
		AND imUserGroups.name like CONCAT('%',#{name},'%')
	</if>
	<if test="adminId != null">
		AND imUserGroups.admin_id = #{adminId}
	</if>
	<if test="icon != null">
		AND imUserGroups.icon like CONCAT('%',#{icon},'%')
	</if>
	<if test="notice != null">
		AND imUserGroups.notice like CONCAT('%',#{notice},'%')
	</if>
	<if test="intro != null">
		AND imUserGroups.intro like CONCAT('%',#{intro},'%')
	</if>
	<if test="remark != null">
		AND imUserGroups.remark like CONCAT('%',#{remark},'%')
	</if>
	<if test="status != null">
		AND imUserGroups.status = #{status}
	</if>
	<if test="deleted != null">
		AND imUserGroups.deleted = #{deleted}
	</if>
	<if test="createBy != null">
		AND imUserGroups.create_by = #{createBy}
	</if>
	<if test="createDate != null">
		AND imUserGroups.create_date = #{createDate}
	</if>
	<if test="updateBy != null">
		AND imUserGroups.update_by = #{updateBy}
	</if>
	<if test="updateDate != null">
		AND imUserGroups.update_date = #{updateDate}
	</if>
  	</select>
  
  	<!-- 
  		检查数据唯一性
  		TODO 此处条件固定写为根据name判断，需根据实际情况进行调整
  	-->
  	<select id="selectByUnique" parameterType="com.jtgl.im.model.ImUserGroups" resultMap="BaseResultMap">
    	select <include refid="Base_Column_List" />
    		from im_t_user_groups imUserGroups
    	where 1=1 and deleted = 0
    	<if test="name != null">
        AND name = #{name}
    	</if>
  	</select>
  	
  	<!-- 删除数据，物理删除和逻辑删除  -->
  	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
	    delete from im_t_user_groups where id = #{id, jdbcType=INTEGER}
  	</delete>
  	<update id="logicalDeleteByPrimaryKey" parameterType="java.lang.Integer">
	    update im_t_user_groups set deleted = 1 where id = #{id, jdbcType=INTEGER}
  	</update>
  
  	<!-- 保存数据  -->
  	<insert id="insert" parameterType="com.jtgl.im.model.ImUserGroups">
  		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		SELECT LAST_INSERT_ID()
    	</selectKey>
    	insert into im_t_user_groups (
				id,
				name,
				admin_id,
				icon,
				notice,
				intro,
				remark,
				status,
				deleted,
				create_by,
				create_date,
				update_by,
				update_date
		)
		values (
			#{id, jdbcType=BIGINT},
			#{name, jdbcType=VARCHAR},
			#{adminId, jdbcType=INTEGER},
			#{icon, jdbcType=VARCHAR},
			#{notice, jdbcType=VARCHAR},
			#{intro, jdbcType=VARCHAR},
			#{remark, jdbcType=VARCHAR},
			#{status, jdbcType=INTEGER},
			#{deleted, jdbcType=INTEGER},
			#{createBy, jdbcType=BIGINT},
			#{createDate, jdbcType=TIMESTAMP},
			#{updateBy, jdbcType=BIGINT},
			#{updateDate, jdbcType=TIMESTAMP}
		)
  	</insert>
  	
  	<insert id="insertSelective" parameterType="com.jtgl.im.model.ImUserGroups">
  		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		SELECT LAST_INSERT_ID()
    	</selectKey>
    	insert into im_t_user_groups
    	<trim prefix="(" suffix=")" suffixOverrides=",">
					<if test="id != null">id, </if>
					<if test="name != null">name, </if>
					<if test="adminId != null">admin_id, </if>
					<if test="icon != null">icon, </if>
					<if test="notice != null">notice, </if>
					<if test="intro != null">intro, </if>
					<if test="remark != null">remark, </if>
					<if test="status != null">status, </if>
					<if test="deleted != null">deleted, </if>
					<if test="createBy != null">create_by, </if>
					<if test="createDate != null">create_date, </if>
					<if test="updateBy != null">update_by, </if>
					<if test="updateDate != null">update_date, </if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides=",">
					<if test="id != null">#{id, jdbcType=BIGINT}, </if>
					<if test="name != null">#{name, jdbcType=VARCHAR}, </if>
					<if test="adminId != null">#{adminId, jdbcType=INTEGER}, </if>
					<if test="icon != null">#{icon, jdbcType=VARCHAR}, </if>
					<if test="notice != null">#{notice, jdbcType=VARCHAR}, </if>
					<if test="intro != null">#{intro, jdbcType=VARCHAR}, </if>
					<if test="remark != null">#{remark, jdbcType=VARCHAR}, </if>
					<if test="status != null">#{status, jdbcType=INTEGER}, </if>
					<if test="deleted != null">#{deleted, jdbcType=INTEGER}, </if>
					<if test="createBy != null">#{createBy, jdbcType=BIGINT}, </if>
					<if test="createDate != null">#{createDate, jdbcType=TIMESTAMP}, </if>
					<if test="updateBy != null">#{updateBy, jdbcType=BIGINT}, </if>
					<if test="updateDate != null">#{updateDate, jdbcType=TIMESTAMP}, </if>
    	</trim>
  	</insert>
  	
  	<!-- 更新数据  -->
  	<update id="updateByPrimaryKeySelective" parameterType="com.jtgl.im.model.ImUserGroups">
    	update im_t_user_groups
		<set>
        	<if test="name != null">name = #{name, jdbcType=VARCHAR}, </if>
        	<if test="adminId != null">admin_id = #{adminId, jdbcType=INTEGER}, </if>
        	<if test="icon != null">icon = #{icon, jdbcType=VARCHAR}, </if>
        	<if test="notice != null">notice = #{notice, jdbcType=VARCHAR}, </if>
        	<if test="intro != null">intro = #{intro, jdbcType=VARCHAR}, </if>
        	<if test="remark != null">remark = #{remark, jdbcType=VARCHAR}, </if>
        	<if test="status != null">status = #{status, jdbcType=INTEGER}, </if>
        	<if test="deleted != null">deleted = #{deleted, jdbcType=INTEGER}, </if>
        	<if test="createBy != null">create_by = #{createBy, jdbcType=BIGINT}, </if>
        	<if test="createDate != null">create_date = #{createDate, jdbcType=TIMESTAMP}, </if>
        	<if test="updateBy != null">update_by = #{updateBy, jdbcType=BIGINT}, </if>
        	<if test="updateDate != null">update_date = #{updateDate, jdbcType=TIMESTAMP}, </if>
	    </set>
    	where id = #{id, jdbcType=INTEGER}
 	</update>
  	<update id="updateByPrimaryKey" parameterType="com.jtgl.im.model.ImUserGroups">
    	update im_t_user_groups
    	<set>
    
    name = #{name, jdbcType=VARCHAR},
    admin_id = #{adminId, jdbcType=INTEGER},
    icon = #{icon, jdbcType=VARCHAR},
    notice = #{notice, jdbcType=VARCHAR},
    intro = #{intro, jdbcType=VARCHAR},
    remark = #{remark, jdbcType=VARCHAR},
    status = #{status, jdbcType=INTEGER},
    deleted = #{deleted, jdbcType=INTEGER},
    create_by = #{createBy, jdbcType=BIGINT},
    create_date = #{createDate, jdbcType=TIMESTAMP},
    update_by = #{updateBy, jdbcType=BIGINT},
    update_date = #{updateDate, jdbcType=TIMESTAMP}
		</set>
    	where id = #{id, jdbcType=INTEGER}
  </update>

</mapper>
