<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jtgl.message.mapper.MessageMapper">

	<resultMap id="BaseResultMap" type="com.jtgl.message.model.Message">
		<id column="id" jdbcType="INTEGER" property="id" />
	    <result column="title" jdbcType="VARCHAR" property="title" />
	    <result column="content" jdbcType="VARCHAR" property="content" />
	    <result column="type" jdbcType="INTEGER" property="type" />
	    <result column="status" jdbcType="INTEGER" property="status" />
	    <result column="deleted" jdbcType="INTEGER" property="deleted" />
	    <result column="create_by" jdbcType="INTEGER" property="createBy" />
	    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
	    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
	    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  	</resultMap>
  
  	<sql id="Base_Column_List">			
		id,
		title,
		content,
		type,
		status,
		deleted,
		create_by,
		create_date,
		update_by,
		update_date
  	</sql>
  	
  	<sql id="Base_Column_List_Alias">			
		m.id,
		m.title,
		m.content,
		m.type,
		m.status,
		m.deleted,
		m.create_by,
		m.create_date,
		m.update_by,
		m.update_date
  	</sql>
  
 	 <!-- 根据主键查询记录 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    	select <include refid="Base_Column_List" /> from t_message
    	where id = #{id, jdbcType=INTEGER}
  	</select>
  	
  	<!-- 
  		根据条件查询记录
  		TODO 此处条件将所有属性都作为条件进行了添加，需根据实际情况进行调整	
  	-->
  	<select id="selectByProperties" parameterType="com.jtgl.message.model.Message" resultMap="BaseResultMap">
   		select <include refid="Base_Column_List_Alias" /> from t_message m
    	where 1=1 and m.deleted = 0
		<if test="title != null">
			AND m.title like CONCAT('%',#{title},'%')
		</if>
		<if test="content != null">
			AND m.content like CONCAT('%',#{content},'%')
		</if>
		<if test="type != null">
			AND m.type = #{type}
		</if>
  	</select>
  
  	<!-- 
  		检查数据唯一性
  		TODO 此处条件固定写为根据name判断，需根据实际情况进行调整
  	-->
  	<select id="selectByUnique" parameterType="com.jtgl.message.model.Message" resultMap="BaseResultMap">
    	select <include refid="Base_Column_List" />
    		from t_message m
    	where 1=1 and deleted = 0
    	<if test="name != null">
        AND name = #{name}
    	</if>
  	</select>
  	
  	<!-- 删除数据，物理删除和逻辑删除  -->
  	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
	    delete from t_message where id = #{id, jdbcType=INTEGER}
  	</delete>
  	<update id="logicalDeleteByPrimaryKey" parameterType="java.lang.Integer">
	    update t_message set deleted = 1 where id = #{id, jdbcType=INTEGER}
  	</update>
  
  	<!-- 保存数据  -->
  	<insert id="insert" parameterType="com.jtgl.message.model.Message">
  		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		SELECT LAST_INSERT_ID()
    	</selectKey>
    	insert into t_message (
			id,
			title,
			content,
			type,
			status,
			deleted,
			create_by,
			create_date,
			update_by,
			update_date
		)
		values (
			#{id, jdbcType=INTEGER},
			#{title, jdbcType=VARCHAR},
			#{content, jdbcType=VARCHAR},
			#{type, jdbcType=INTEGER},
			#{status, jdbcType=INTEGER},
			#{deleted, jdbcType=INTEGER},
			#{createBy, jdbcType=INTEGER},
			#{createDate, jdbcType=TIMESTAMP},
			#{updateBy, jdbcType=INTEGER},
			#{updateDate, jdbcType=TIMESTAMP}
		)
  	</insert>
  	
  	<insert id="insertSelective" parameterType="com.jtgl.message.model.Message">
  		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		SELECT LAST_INSERT_ID()
    	</selectKey>
    	insert into t_message
    	<trim prefix="(" suffix=")" suffixOverrides=",">
					<if test="id != null">id, </if>
					<if test="title != null">title, </if>
					<if test="content != null">content, </if>
					<if test="type != null">type, </if>
					<if test="status != null">status, </if>
					<if test="deleted != null">deleted, </if>
					<if test="createBy != null">create_by, </if>
					<if test="createDate != null">create_date, </if>
					<if test="updateBy != null">update_by, </if>
					<if test="updateDate != null">update_date, </if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides=",">
					<if test="id != null">#{id, jdbcType=INTEGER}, </if>
					<if test="title != null">#{title, jdbcType=VARCHAR}, </if>
					<if test="content != null">#{content, jdbcType=VARCHAR}, </if>
					<if test="type != null">#{type, jdbcType=INTEGER}, </if>
					<if test="status != null">#{status, jdbcType=INTEGER}, </if>
					<if test="deleted != null">#{deleted, jdbcType=INTEGER}, </if>
					<if test="createBy != null">#{createBy, jdbcType=INTEGER}, </if>
					<if test="createDate != null">#{createDate, jdbcType=TIMESTAMP}, </if>
					<if test="updateBy != null">#{updateBy, jdbcType=INTEGER}, </if>
					<if test="updateDate != null">#{updateDate, jdbcType=TIMESTAMP}, </if>
    	</trim>
  	</insert>
  	
  	<!-- 更新数据  -->
  	<update id="updateByPrimaryKeySelective" parameterType="com.jtgl.message.model.Message">
    	update t_message
		<set>
        	<if test="title != null">title = #{title, jdbcType=VARCHAR}, </if>
        	<if test="content != null">content = #{content, jdbcType=VARCHAR}, </if>
        	<if test="type != null">type = #{type, jdbcType=INTEGER}, </if>
        	<if test="status != null">status = #{status, jdbcType=INTEGER}, </if>
        	<if test="deleted != null">deleted = #{deleted, jdbcType=INTEGER}, </if>
        	<if test="createBy != null">create_by = #{createBy, jdbcType=INTEGER}, </if>
        	<if test="createDate != null">create_date = #{createDate, jdbcType=TIMESTAMP}, </if>
        	<if test="updateBy != null">update_by = #{updateBy, jdbcType=INTEGER}, </if>
        	<if test="updateDate != null">update_date = #{updateDate, jdbcType=TIMESTAMP}, </if>
	    </set>
    	where id = #{id, jdbcType=INTEGER}
 	</update>
  	<update id="updateByPrimaryKey" parameterType="com.jtgl.message.model.Message">
    	update t_message
    	<set>
	    
	    title = #{title, jdbcType=VARCHAR},
	    content = #{content, jdbcType=VARCHAR},
	    type = #{type, jdbcType=INTEGER},
	    status = #{status, jdbcType=INTEGER},
	    deleted = #{deleted, jdbcType=INTEGER},
	    create_by = #{createBy, jdbcType=INTEGER},
	    create_date = #{createDate, jdbcType=TIMESTAMP},
	    update_by = #{updateBy, jdbcType=INTEGER},
	    update_date = #{updateDate, jdbcType=TIMESTAMP}
		</set>
    	where id = #{id, jdbcType=INTEGER}
  </update>

</mapper>
