<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jtgl.group.mapper.GroupPrivilegeMapper">

	<resultMap id="BaseResultMap" type="com.jtgl.group.model.GroupPrivilege">
		<id column="id" jdbcType="INTEGER" property="id" />
        <result column="group_id" jdbcType="INTEGER" property="groupId" />
        <result column="item_id" jdbcType="INTEGER" property="itemId" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="deleted" jdbcType="INTEGER" property="deleted" />
        <result column="create_by" jdbcType="BIGINT" property="createBy" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_by" jdbcType="BIGINT" property="updateBy" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  	</resultMap>
  
  	<sql id="Base_Column_List">			
		id,
		group_id,
		item_id,
		remark,
		status,
		deleted,
		create_by,
		create_date,
		update_by,
		update_date
  	</sql>
  	
  	<sql id="Base_Column_List_Alias">			
		groupPrivilege.id,
		groupPrivilege.group_id,
		groupPrivilege.item_id,
		groupPrivilege.remark,
		groupPrivilege.status,
		groupPrivilege.deleted,
		groupPrivilege.create_by,
		groupPrivilege.create_date,
		groupPrivilege.update_by,
		groupPrivilege.update_date
  	</sql>
  
 	 <!-- 根据主键查询记录 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    	select 
    		<include refid="Base_Column_List" /> 
    	from 
    		t_group_privilege
    	where 
    		id = #{id, jdbcType=INTEGER}
  	</select>
  	
  	<!-- 
  		根据条件查询记录
  		TODO 此处条件将所有属性都作为条件进行了添加，需根据实际情况进行调整	
  	-->
  	<select id="selectByProperties" parameterType="com.jtgl.group.model.GroupPrivilege" resultMap="BaseResultMap">
   		select 
   			<include refid="Base_Column_List_Alias" />	
   		from 
   			t_group_privilege groupPrivilege
    	where 
    		1 = 1 and groupPrivilege.deleted = 0
		<if test="groupId != null">
			AND groupPrivilege.group_id = #{groupId}
		</if>
  	</select>
  
  	<!-- 
  		检查数据唯一性
  		TODO 此处条件固定写为根据name判断，需根据实际情况进行调整
  	-->
  	<select id="selectByUnique" parameterType="com.jtgl.group.model.GroupPrivilege" resultMap="BaseResultMap">
    	select 
    		<include refid="Base_Column_List" />
   		from 
    		t_group_privilege groupPrivilege
    	where 
    		1 = 1 and deleted = 0
    	<if test="name != null">
        	AND name = #{name}
    	</if>
  	</select>
  	
  	<!-- 删除数据，物理删除和逻辑删除  -->
  	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
	    delete from t_group_privilege where id = #{id, jdbcType=INTEGER}
  	</delete>
  	
  	<update id="logicalDeleteByPrimaryKey" parameterType="java.lang.Integer">
	    update t_group_privilege set deleted = 1 where id = #{id, jdbcType=INTEGER}
  	</update>
  
  	<!-- 保存数据  -->
  	<insert id="insert" parameterType="com.jtgl.group.model.GroupPrivilege">
  		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		SELECT LAST_INSERT_ID()
    	</selectKey>
    	insert into t_group_privilege (
			id,
			group_id,
			item_id,
			remark,
			status,
			deleted,
			create_by,
			create_date,
			update_by,
			update_date
		)
		values (
			#{id, jdbcType=INTEGER},
			#{groupId, jdbcType=INTEGER},
			#{itemId, jdbcType=INTEGER},
			#{remark, jdbcType=VARCHAR},
			#{status, jdbcType=INTEGER},
			#{deleted, jdbcType=INTEGER},
			#{createBy, jdbcType=BIGINT},
			#{createDate, jdbcType=TIMESTAMP},
			#{updateBy, jdbcType=BIGINT},
			#{updateDate, jdbcType=TIMESTAMP}
		)
  	</insert>
  	
  	<insert id="insertSelective" parameterType="com.jtgl.group.model.GroupPrivilege">
  		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		SELECT LAST_INSERT_ID()
    	</selectKey>
    	insert into t_group_privilege
    	<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id, </if>
			<if test="groupId != null">group_id, </if>
			<if test="itemId != null">item_id, </if>
			<if test="remark != null">remark, </if>
			<if test="status != null">status, </if>
			<if test="deleted != null">deleted, </if>
			<if test="createBy != null">create_by, </if>
			<if test="createDate != null">create_date, </if>
			<if test="updateBy != null">update_by, </if>
			<if test="updateDate != null">update_date, </if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id, jdbcType=INTEGER}, </if>
			<if test="groupId != null">#{groupId, jdbcType=INTEGER}, </if>
			<if test="itemId != null">#{itemId, jdbcType=INTEGER}, </if>
			<if test="remark != null">#{remark, jdbcType=VARCHAR}, </if>
			<if test="status != null">#{status, jdbcType=INTEGER}, </if>
			<if test="deleted != null">#{deleted, jdbcType=INTEGER}, </if>
			<if test="createBy != null">#{createBy, jdbcType=BIGINT}, </if>
			<if test="createDate != null">#{createDate, jdbcType=TIMESTAMP}, </if>
			<if test="updateBy != null">#{updateBy, jdbcType=BIGINT}, </if>
			<if test="updateDate != null">#{updateDate, jdbcType=TIMESTAMP}, </if>
    	</trim>
  	</insert>
  	
  	<!-- 更新数据  -->
  	<update id="updateByPrimaryKeySelective" parameterType="com.jtgl.group.model.GroupPrivilege">
    	update t_group_privilege
		<set>
        	<if test="groupId != null">group_id = #{groupId, jdbcType=INTEGER}, </if>
        	<if test="itemId != null">item_id = #{itemId, jdbcType=INTEGER}, </if>
        	<if test="remark != null">remark = #{remark, jdbcType=VARCHAR}, </if>
        	<if test="status != null">status = #{status, jdbcType=INTEGER}, </if>
        	<if test="deleted != null">deleted = #{deleted, jdbcType=INTEGER}, </if>
        	<if test="createBy != null">create_by = #{createBy, jdbcType=BIGINT}, </if>
        	<if test="createDate != null">create_date = #{createDate, jdbcType=TIMESTAMP}, </if>
        	<if test="updateBy != null">update_by = #{updateBy, jdbcType=BIGINT}, </if>
        	<if test="updateDate != null">update_date = #{updateDate, jdbcType=TIMESTAMP}, </if>
	    </set>
    	where id = #{id, jdbcType=INTEGER}
 	</update>
 	
  	<update id="updateByPrimaryKey" parameterType="com.jtgl.group.model.GroupPrivilege">
    	update t_group_privilege
    	<set>
		    group_id = #{groupId, jdbcType=INTEGER},
		    item_id = #{itemId, jdbcType=INTEGER},
		    remark = #{remark, jdbcType=VARCHAR},
		    status = #{status, jdbcType=INTEGER},
		    deleted = #{deleted, jdbcType=INTEGER},
		    create_by = #{createBy, jdbcType=BIGINT},
		    create_date = #{createDate, jdbcType=TIMESTAMP},
		    update_by = #{updateBy, jdbcType=BIGINT},
		    update_date = #{updateDate, jdbcType=TIMESTAMP}
		</set>
    	where id = #{id, jdbcType=INTEGER}
  </update>

</mapper>
