<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.system.memu.mapper.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.platform.system.memu.model.SysMenu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="css" jdbcType="VARCHAR" property="css" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="parent_name" jdbcType="VARCHAR" property="parentName" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, css, name,code, sort, type, url, parent_id, permission, remark, status, deleted, create_by,
    create_date, update_by, update_date
  </sql>
  
  <sql id="Base_Column_List_Alias">
    m.id, m.css, m.name,m.code, m.sort, m.type, m.url, m.parent_id, m.permission, m.remark, m.status, m.deleted, m.create_by,
    m.create_date, m.update_by, m.update_date
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_t_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByProperties" parameterType="com.platform.system.memu.model.SysMenu" resultMap="BaseResultMap">
    select  
    	<include refid="Base_Column_List_Alias" />,me.name as parent_name
    from sys_t_menu m
    left join sys_t_menu me on me.id = m.parent_id
    where 1=1 and m.deleted = 0
    <if test="name != null">
      AND m.name like CONCAT('%',#{name},'%' )
    </if>
    <!-- 一般查询，根据父节点进行查询 -->
    <if test="parentId != null and parentId !=0 and parentId !=-2">
      AND m.parent_id = #{parentId}
    </if>
    <!-- 查询所有的顶级节点 -->
    <if test="parentId != null and parentId ==0">
      AND m.parent_id is null
    </if>
    <!-- 编辑界面选择父节点时不包括自己 -->
    <if test="parentId != null and parentId ==-2">
      AND m.id !=#{id}
    </if>
    <if test="code != null">
      AND m.code like CONCAT('%',#{code},'%' )
    </if>
    <if test="permission != null">
      AND m.permission like CONCAT('%',#{permission},'%' )
    </if>
    order by m.sort
  </select>
  
  <select id="selectByUnique" parameterType="com.platform.system.memu.model.SysMenu" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from sys_t_menu
    where 1=1 and deleted = 0
    <if test="name != null">
      AND name = #{name}
    </if>
    <if test="code != null">
      AND code = #{code}
    </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_t_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleleByParentId" parameterType="java.lang.Integer">
    update sys_t_menu set deleted = 1
    where parent_id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="logicalDeleteByPrimaryKey" parameterType="java.lang.Integer">
    update sys_t_menu set deleted = 1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.platform.system.memu.model.SysMenu">
    insert into sys_t_menu (id, css, name, code,
      sort, type, url, 
      parent_id, permission, remark, status, 
      deleted, create_by, create_date, 
      update_by, update_date)
    values (#{id,jdbcType=INTEGER}, #{css,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
      #{sort,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR},
      #{parentId,jdbcType=INTEGER}, #{permission,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},  #{status,jdbcType=INTEGER}, 
      #{deleted,jdbcType=INTEGER}, #{createBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="com.platform.system.memu.model.SysMenu">
    insert into sys_t_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="css != null">
        css,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="permission != null">
        permission,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="css != null">
        #{css,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="permission != null">
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.platform.system.memu.model.SysMenu">
    update sys_t_menu
    <set>
      <if test="css != null">
        css = #{css,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="permission != null">
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.platform.system.memu.model.SysMenu">
    update sys_t_menu
    set css = #{css,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      permission = #{permission,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>