<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jtgl.demo.mapper.MapMapper">

	<resultMap id="BaseResultMap" type="com.jtgl.demo.model.Map">
			<id column="id" jdbcType="INTEGER" property="id" />
            <result column="name" jdbcType="VARCHAR" property="name" />
            <result column="number" jdbcType="VARCHAR" property="number" />
            <result column="map_type" jdbcType="INTEGER" property="mapType" />
            <result column="province" jdbcType="VARCHAR" property="province" />
            <result column="city" jdbcType="VARCHAR" property="city" />
            <result column="area" jdbcType="VARCHAR" property="area" />
            <result column="address" jdbcType="VARCHAR" property="address" />
            <result column="map_x" jdbcType="VARCHAR" property="mapX" />
            <result column="map_y" jdbcType="VARCHAR" property="mapY" />
            <result column="status" jdbcType="INTEGER" property="status" />
            <result column="create_by" jdbcType="INTEGER" property="createBy" />
            <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
            <result column="update_by" jdbcType="INTEGER" property="updateBy" />
            <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
            <result column="deleted" jdbcType="INTEGER" property="deleted" />
  	</resultMap>
  
  	<sql id="Base_Column_List">			
		id,
		name,
		number,
		map_type,
		province,
		city,
		area,
		address,
		map_x,
		map_y,
		status,
		create_by,
		create_date,
		update_by,
		update_date,
		deleted
  	</sql>
  	
  	<sql id="Base_Column_List_Alias">			
		m.id,
		m.name,
		m.number,
		m.map_type,
		m.province,
		m.city,
		m.area,
		m.address,
		m.map_x,
		m.map_y,
		m.status,
		m.create_by,
		m.create_date,
		m.update_by,
		m.update_date,
		m.deleted
  	</sql>
  
 	 <!-- 根据主键查询记录 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    	select <include refid="Base_Column_List" /> from t_map
    	where id = #{id, jdbcType=INTEGER}
  	</select>
  	
  	<!-- 
  		根据条件查询记录
  		TODO 此处条件将所有属性都作为条件进行了添加，需根据实际情况进行调整	
  	-->
  	<select id="selectByProperties" parameterType="com.jtgl.demo.model.Map" resultMap="BaseResultMap">
   		select <include refid="Base_Column_List_Alias" />	from t_map m
    	where 1=1 and m.deleted = 0
		<if test="name != null">
			AND m.name like CONCAT('%',#{name},'%')
		</if>
  	</select>
  
  	<!-- 
  		检查数据唯一性
  		TODO 此处条件固定写为根据name判断，需根据实际情况进行调整
  	-->
  	<select id="selectByUnique" parameterType="com.jtgl.demo.model.Map" resultMap="BaseResultMap">
    	select <include refid="Base_Column_List" />
    		from t_map m
    	where 1=1 and deleted = 0
    	<if test="name != null">
        AND name = #{name}
    	</if>
  	</select>
  	
  	<!-- 删除数据，物理删除和逻辑删除  -->
  	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
	    delete from t_map where id = #{id, jdbcType=INTEGER}
  	</delete>
  	<update id="logicalDeleteByPrimaryKey" parameterType="java.lang.Integer">
	    update t_map set deleted = 1 where id = #{id, jdbcType=INTEGER}
  	</update>
  
  	<!-- 保存数据  -->
  	<insert id="insert" parameterType="com.jtgl.demo.model.Map">
  		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		SELECT LAST_INSERT_ID()
    	</selectKey>
    	insert into t_map (
			id,
			name,
			number,
			map_type,
			province,
			city,
			area,
			address,
			map_x,
			map_y,
			status,
			create_by,
			create_date,
			update_by,
			update_date,
			deleted
		)
		values (
			#{id, jdbcType=INTEGER},
			#{name, jdbcType=VARCHAR},
			#{number, jdbcType=VARCHAR},
			#{mapType, jdbcType=INTEGER},
			#{province, jdbcType=VARCHAR},
			#{city, jdbcType=VARCHAR},
			#{area, jdbcType=VARCHAR},
			#{address, jdbcType=VARCHAR},
			#{mapX, jdbcType=VARCHAR},
			#{mapY, jdbcType=VARCHAR},
			#{status, jdbcType=INTEGER},
			#{createBy, jdbcType=INTEGER},
			#{createDate, jdbcType=TIMESTAMP},
			#{updateBy, jdbcType=INTEGER},
			#{updateDate, jdbcType=TIMESTAMP},
			#{deleted, jdbcType=INTEGER}
		)
  	</insert>
  	
  	<insert id="insertSelective" parameterType="com.jtgl.demo.model.Map">
  		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		SELECT LAST_INSERT_ID()
    	</selectKey>
    	insert into t_map
    	<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id, </if>
			<if test="name != null">name, </if>
			<if test="number != null">number, </if>
			<if test="mapType != null">map_type, </if>
			<if test="province != null">province, </if>
			<if test="city != null">city, </if>
			<if test="area != null">area, </if>
			<if test="address != null">address, </if>
			<if test="mapX != null">map_x, </if>
			<if test="mapY != null">map_y, </if>
			<if test="status != null">status, </if>
			<if test="createBy != null">create_by, </if>
			<if test="createDate != null">create_date, </if>
			<if test="updateBy != null">update_by, </if>
			<if test="updateDate != null">update_date, </if>
			<if test="deleted != null">deleted, </if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id, jdbcType=INTEGER}, </if>
			<if test="name != null">#{name, jdbcType=VARCHAR}, </if>
			<if test="number != null">#{number, jdbcType=VARCHAR}, </if>
			<if test="mapType != null">#{mapType, jdbcType=INTEGER}, </if>
			<if test="province != null">#{province, jdbcType=VARCHAR}, </if>
			<if test="city != null">#{city, jdbcType=VARCHAR}, </if>
			<if test="area != null">#{area, jdbcType=VARCHAR}, </if>
			<if test="address != null">#{address, jdbcType=VARCHAR}, </if>
			<if test="mapX != null">#{mapX, jdbcType=VARCHAR}, </if>
			<if test="mapY != null">#{mapY, jdbcType=VARCHAR}, </if>
			<if test="status != null">#{status, jdbcType=INTEGER}, </if>
			<if test="createBy != null">#{createBy, jdbcType=INTEGER}, </if>
			<if test="createDate != null">#{createDate, jdbcType=TIMESTAMP}, </if>
			<if test="updateBy != null">#{updateBy, jdbcType=INTEGER}, </if>
			<if test="updateDate != null">#{updateDate, jdbcType=TIMESTAMP}, </if>
			<if test="deleted != null">#{deleted, jdbcType=INTEGER}, </if>
    	</trim>
  	</insert>
  	
  	<!-- 更新数据  -->
  	<update id="updateByPrimaryKeySelective" parameterType="com.jtgl.demo.model.Map">
    	update t_map
		<set>
        	<if test="name != null">name = #{name, jdbcType=VARCHAR}, </if>
        	<if test="number != null">number = #{number, jdbcType=VARCHAR}, </if>
        	<if test="mapType != null">map_type = #{mapType, jdbcType=INTEGER}, </if>
        	<if test="province != null">province = #{province, jdbcType=VARCHAR}, </if>
        	<if test="city != null">city = #{city, jdbcType=VARCHAR}, </if>
        	<if test="area != null">area = #{area, jdbcType=VARCHAR}, </if>
        	<if test="address != null">address = #{address, jdbcType=VARCHAR}, </if>
        	<if test="mapX != null">map_x = #{mapX, jdbcType=VARCHAR}, </if>
        	<if test="mapY != null">map_y = #{mapY, jdbcType=VARCHAR}, </if>
        	<if test="status != null">status = #{status, jdbcType=INTEGER}, </if>
        	<if test="createBy != null">create_by = #{createBy, jdbcType=INTEGER}, </if>
        	<if test="createDate != null">create_date = #{createDate, jdbcType=TIMESTAMP}, </if>
        	<if test="updateBy != null">update_by = #{updateBy, jdbcType=INTEGER}, </if>
        	<if test="updateDate != null">update_date = #{updateDate, jdbcType=TIMESTAMP}, </if>
        	<if test="deleted != null">deleted = #{deleted, jdbcType=INTEGER}, </if>
	    </set>
    	where id = #{id, jdbcType=INTEGER}
 	</update>
  	<update id="updateByPrimaryKey" parameterType="com.jtgl.demo.model.Map">
    	update t_map
    	<set>
		    name = #{name, jdbcType=VARCHAR},
		    number = #{number, jdbcType=VARCHAR},
		    map_type = #{mapType, jdbcType=INTEGER},
		    province = #{province, jdbcType=VARCHAR},
		    city = #{city, jdbcType=VARCHAR},
		    area = #{area, jdbcType=VARCHAR},
		    address = #{address, jdbcType=VARCHAR},
		    map_x = #{mapX, jdbcType=VARCHAR},
		    map_y = #{mapY, jdbcType=VARCHAR},
		    status = #{status, jdbcType=INTEGER},
		    create_by = #{createBy, jdbcType=INTEGER},
		    create_date = #{createDate, jdbcType=TIMESTAMP},
		    update_by = #{updateBy, jdbcType=INTEGER},
		    update_date = #{updateDate, jdbcType=TIMESTAMP},
		    deleted = #{deleted, jdbcType=INTEGER}
		</set>
    	where id = #{id, jdbcType=INTEGER}
  </update>

</mapper>
